@page "{hotelCode:guid}"

@model EmergingBookingUI.Areas.Management.Pages.UpdateHotelContactsModel

@{ }

<h2>Update Hotel Contacts</h2>

<form method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@@</span>
        </div>
        <input asp-for="CurrentContacts.Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Phone</label>
        <input asp-for="CurrentContacts.Phone" class="form-control" id="hotel-phone" placeholder="Phone" required>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Mobile</label>
        <input asp-for="CurrentContacts.Mobile" class="form-control" id="hotel-mobile" placeholder="Mobile" required>
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="CurrentContacts.HotelCode" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>