@page
@model EmergingBookingUI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome !!!</h1>

    <h3>We are</h3>

    <br />

    <div style="align-content:center">
        <img src="~/assets/circle-cropped.png" />
    </div>
</div>